@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
:root {
    --base: #1E142A;
    --base-light: #2D1E3F;
    --primary: #4A3E57;
    --primary-light: #6D607A;
    --secondary: #00A48B;
    --secondary-shadow: #005D4F;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: var(--base);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:focus {
    outline: 0;
}

.horizontalMargin {
    margin: 0 0.5rem;
}

.roundedCorners {
    border-radius: 6px;
}

main {
    background: linear-gradient(var(--base-light), var(--base));
}

button {
    cursor: pointer;
}


/*------------NAVBAR----------*/

nav {
    padding: 0.5rem;
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}

.brand {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.navbar .logo {
    height: 2rem;
}

.burgerButton {
    width: 30px;
    height: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.burgerIcon,
.burgerIcon::before,
.burgerIcon::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.burgerIcon::before,
.burgerIcon::after {
    content: '';
    position: absolute;
}

.burgerIcon::before {
    transform: translate(0, 0.5rem);
}

.burgerIcon::after {
    transform: translate(0, -0.5rem);
}

.navbar ul {
    display: flex;
    align-items: center;
}

.searchbar {
    background-color: var(--primary-light);
    padding: 0.5rem;
    color: #fafafa;
    width: 25rem;
    border-radius: 0 5px 5px 0;
}

.searchBarContainer {
    position: relative;
    display: none;
}

.buscarLabel {
    display: flex;
    position: absolute;
    left: 0;
    transform: translate(-100%, 0);
    align-items: center;
    height: 100%;
    background-color: var(--primary-light);
    border-radius: 5px 0 0 5px;
    padding: 0 0.5rem;
}

.searchbar::placeholder {
    color: #d1d1d1;
}

.userMenu {
    display: flex;
    align-items: center;
}

.profilePic {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.burgerCheckbox {
    display: none;
}

.burgerCheckbox:checked~label span {
    background-color: transparent;
}

.burgerCheckbox:checked~label span::before {
    transform: rotate(-45deg);
    top: 0;
}

.burgerCheckbox:checked~label span::after {
    transform: rotate(45deg);
    bottom: 0;
}


/*------------Menu---------------*/

.sideMenu {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    box-sizing: border-box;
}

.sideMenuVisible {
    z-index: 2;
}

menu {
    background-color: var(--primary);
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
    transform-origin: left;
    width: 100%;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    left: -100%;
    transition: background-color 0.3s ease-out;
}

.visibleBackground {
    background-color: #222c;
    left: 0;
}

.visible {
    transform: scaleX(1);
}

menu li {
    margin: 0.5rem 0;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    position: relative;
    padding: 1rem 5rem;
}

menu h4 {
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    width: 90%;
    padding: 1rem 0;
}

.categorias li {
    width: 50%;
}

.mainLinks {
    width: 90%;
    display: flex;
    box-sizing: border-box;
}

.mainLinks i {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mainLinks ul {
    width: 100%;
    text-align: start;
}

.mainLinks li {
    margin: 1rem 0;
    padding: 0.2rem;
    border-bottom: 2px solid white;
    width: 100%;
}

menu .mediaLinks {
    align-self: flex-end;
    margin-right: 2rem;
}


/*------------RECOMENDADOS----------*/

h1 {
    color: white;
    background-color: var(--base-light);
    padding: 2rem;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 1.8rem;
    box-sizing: border-box;
}

.recomendados {
    padding: 2rem 10%;
    margin: 3rem;
}

.recomendaciones {
    display: grid;
    grid-template-areas: 'main main a b' 'main main c d';
    grid-gap: 0.5rem;
}

.recomendaciones a:first-child {
    grid-area: main;
}

.recomendaciones a:nth-child(2) {
    grid-area: a;
}

.recomendaciones a:nth-child(3) {
    grid-area: b;
}

.recomendaciones a:nth-child(4) {
    grid-area: c;
}

.recomendaciones a:nth-child(5) {
    grid-area: d;
}

.recomendaciones a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recomendaciones a {
    position: relative;
}

.recomendaciones a p {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #222c;
    padding: 0.6rem;
    font-size: 0.8rem;
    box-sizing: border-box;
}

.recomendaciones a:first-child p {
    padding: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}


/*------------FOOTER----------*/

footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem 10%;
    background-color: var(--primary);
}

footer .footerNav {
    display: flex;
}

.footerNav div {
    padding: 0 1rem;
}

footer h4 {
    text-transform: uppercase;
}

footer li {
    font-size: 0.8rem;
    font-weight: 200;
    margin: 1rem 0;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-size: 0.6rem;
    text-align: center;
}

.socialMedia {
    text-align: center;
}

.mediaLinks {
    display: flex;
}

.mediaLinks li {
    margin: 0.5rem;
    transform: scale(1.3);
}

.mediaLinks li i {
    color: white;
}

.recomendaciones a img,
.mediaLinks li i {
    transition: all 0.2s ease-out;
}

.mediaLinks li i:hover {
    color: var(--secondary);
    text-shadow: 0 0 1px var(--secondary);
}


/*------------Proximo Lanzamiento----------*/

#body-lanzamiento {
    background-color: black;
}

.heroBackground {
    width: 100%;
}

.bg-proximoLanzamiento {
    height: 100vh;
    max-width: 100%;
    object-fit: cover;
}

.bg-imagen {
    width: 100%;
}

.img-blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.rd-proximamente {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5rem;
    left: 2rem;
    width: 25vw;
}

.rd-logo {
    width: 100%;
    margin-bottom: 1rem;
}

.texto-prox {
    width: 10vw;
}

.rg-logo {
    width: 5vw;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
}

.reservaButton {
    color: white;
    background-color: var(--secondary);
    font-size: 1.6vw;
    padding: 1% 3% 1% 3%;
    font-weight: bold;
    position: absolute;
    bottom: 10rem;
    left: 41%;
    right: 41%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.reservaButton:hover {
    background-color: var(--secondary-shadow);
    transition: 0.3s;
    cursor: pointer;
}

.lanzamientoWrapper {
    display: flex;
    flex-direction: column;
}

.descripcion-card {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.descripcion-card img,
.descripcion-card-2 img {
    padding: 3rem;
}

.descripcion-card-2 {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.descripcion-card-3 {
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.descripcion-card:nth-of-type() .descripcion-card p {
    padding-left: 10rem;
    width: 20vw;
    text-align: center;
    order: 2;
}

.personajes-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 260%;
    left: 11%;
}

.personaje-card {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.personaje-card img {
    padding-right: 2rem;
}

.info-personaje p {
    padding: 1rem;
}

.pie-lanzamiento {
    padding-top: 30%;
}


/*-------CAROUSEL------*/

.sliderContainer {
    height: 20rem;
    padding: 0.5rem;
    margin: auto;
    overflow-x: scroll;
    position: relative;
    border-radius: 5px;
}

.sliderContainer::-webkit-scrollbar {
    height: 5px;
}


/* Track */

.sliderContainer::-webkit-scrollbar-track {
    background-color: var(--base);
    box-shadow: none;
}


/* Handle */

.sliderContainer::-webkit-scrollbar-thumb {
    background: #888;
    position: absolute;
    bottom: 10rem;
    border-radius: 3px;
}


/* Handle on hover */

.sliderContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.slider {
    height: 100%;
    width: fit-content;
    display: flex;
}

.genres {
    padding: 1rem 10%;
}

.genres h2 {
    margin-top: 2rem;
}


/*--------CARD----------*/

.card {
    width: 12rem;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background-color: var(--primary);
    margin: 0 0.5rem;
    transition: all 0.2s ease-out;
}

.card:hover,
.recomendaciones a img:hover {
    box-shadow: 0 0 5px var(--primary-light);
}

.freeCard {
    background-color: var(--secondary-shadow);
}

.card img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

.card h4 {
    margin: 0.5rem;
}

.card ul {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.card ul li {
    font-size: 0.8rem;
    color: var(--secondary);
}

.card .cardButtons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

.cardButtons input {
    color: white;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: var(--secondary);
    min-width: 50%;
}

.cardButtons span {
    margin: auto;
}


/*---------PROXIMO LANZAMIENTO----------*/

.proximoLanzamiento {
    margin-top: 3rem;
}

.proximoLanzamiento h1,
.runecraftContainer h1 {
    background-color: transparent;
}

.proximoLanzamiento ul {
    display: grid;
    grid-template-areas: 'main main a' 'main main b' 'main main c';
    grid-gap: 0.5rem;
    padding: 2rem 0;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.proximoLanzamiento ul li:first-child {
    grid-area: main;
}

.proximoLanzamiento ul li:nth-child(2) {
    grid-area: a;
}

.proximoLanzamiento ul li:nth-child(3) {
    grid-area: b;
}

.proximoLanzamiento ul li:nth-child(4) {
    grid-area: c;
}

.proximoLanzamiento ul li img {
    height: 100%;
    object-fit: cover;
}


/*---------4 en linea plug-------*/

.juegaOnline {
    padding: 2rem 15%;
}

.juegaOnline h3 {
    font-size: 1.5rem;
}

.juegoAdv {
    display: flex;
}

.runecraftDescripcion {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    max-width: 50%;
    text-align: center;
}

.runecraftDescripcion button {
    padding: 0.6rem;
    width: 60%;
    background-color: var(--secondary);
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.2s ease-out;
}

.runecraftDescripcion button:hover {
    background-color: white;
    color: var(--secondary);
    box-shadow: 0 0 5px white;
}


/*--------------Runecraft-------------*/

.breadcrumbs {
    margin-top: 4rem;
    width: 80%;
}

.breadcrumbs ul {
    display: flex;
    justify-content: left;
    width: 100%;
}

.breadcrumbs li {
    color: var(--secondary);
    padding: 0 .1rem .1rem 0;
    position: relative;
}

.RunecraftGame {
    margin: 1rem 0 0 0;
    background-color: var(--base-light);
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #fafafa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.gameContainer .mediaLinks {
    display: flex;
    flex-flow: column;
}

.gameContainer .mediaLinks i {
    color: var(--primary-light);
}

.gameContainer {
    display: flex;
}

.gameContainer img {
    width: 960px;
    height: 540px;
    object-fit: contain;
}

.instructions {
    display: flex;
    width: 100%;
    background-color: var(--base-light);
    border-bottom: 1px solid #fafafa;
}

.instructions h4 {
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
}

.tutorial {
    padding: 2rem;
    font-weight: 200;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.mediaInstructions {
    padding: 2rem;
}

.tutorial p {
    padding: 2rem;
}

.instructionsRow {
    display: flex;
    justify-content: space-between;
}

.commentsSection {
    background: linear-gradient(0deg, rgba(30, 20, 42, 1) 0%, rgba(45, 30, 63, 1) 100%);
    width: 100%;
    display: flex;
    align-items: left;
    padding: 2rem;
    box-sizing: border-box;
}

.commentsSection h2 {
    margin: 2rem;
}

.comments {
    width: 70%;
    padding: 1rem;
}

.recommended {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 30%;
}

.recommended img {
    width: 180px;
    margin: .3rem;
    display: flex;
}

.comment {
    width: 25rem;
    margin: 1rem;
}

.commentId {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #fafafa;
    padding: .2rem;
}

.userId {
    display: flex;
    align-items: center;
}

.userId p {
    font-weight: 300;
}

.commentId img {
    width: 1.5rem;
    border-radius: 50%;
    padding: .2rem;
    margin-right: 1rem;
}

.timeStamp {
    font-size: .7rem;
    color: var(--primary-light);
}

.commentContent {
    font-weight: 300;
    padding: .5rem;
}

.commentInput textarea {
    width: 80%;
    margin: .5rem 0;
    background-color: #222;
    color: #fafafa;
    padding: 1rem;
    border-top: 1px solid var(--primary);
    font-weight: 200;
}

.commentInput textarea::placeholder {
    color: #fafafa;
}

.commentInput textarea:focus {
    outline: none;
}

.overlay {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.menu {
    position: absolute;
    width: 100%;
    top: .2rem;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media(min-width: 800px) {
    menu {
        width: 30%;
    }
    .searchBarContainer {
        display: block;
    }
}